<!--------------------------------------------------------------------------------
    This page displays a confirmation upon loggin out and allows the user to
    sign back in.
---------------------------------------------------------------------------------->

<!--WARNING: template coupled to inv_manage app within Backpack Project-->
{% extends 'inv_manage/layout.html' %}
{% block content %}
<h2>You have been logged out</h2>
<div class="border-top pt-3">
  <small class="text-muted">
    <a href="{% url 'login' %}">Log In</a>
  </small>
</div>
{% endblock %}