<!--------------------------------------------------------------------------------
    This page provides instructions to the user to reset their password.
---------------------------------------------------------------------------------->

<!--WARNING: template coupled to inv_manage app within Backpack Project-->
{% extends 'inv_manage/layout.html' %}
{% block content %}
<div class="alert alert-info">
  An email has been sent with instructions to reset your password
</div>
<a href="{% url 'inv_manage-index' %}" class="btn btn-outline-info">Okay</a>
{% endblock %}