<!--------------------------------------------------------------------------------
    This page displays confirmation upon resetting of password, as well as the
    option to sign in.
---------------------------------------------------------------------------------->

<!--WARNING: template coupled to inv_manage app within Backpack Project-->
{% extends 'inv_manage/layout.html' %}
{% block content %}
<div class="alert alert-info">
  Your Password has been updated.
</div>
<a href="{% url 'login' %}">Sign in Here</a>
{% endblock %}