<!--------------------------------------------------------------------------------
    This page displays the form responsible for creating a new password.
---------------------------------------------------------------------------------->

<!--WARNING: template coupled to inv_manage app within Backpack Project-->
{% extends 'inv_manage/layout.html' %}
{% load crispy_forms_tags %} {% block content %}
<div class="content-section">
  <form method="POST">
    {% csrf_token %}
    <fieldset class="form-group">
      <legend class="border-bottom mb-4">Reset Password</legend>
      {{ form|crispy }}
      {% if title == 'Password reset unsuccessful' %}
      <p>Sorry, this link has expired.</p>
      {% endif %}
    </fieldset>
    <div class="form-group">
      {% if title != 'Password reset unsuccessful' %}
      <button class="btn btn-outline-info" type="submit">
        Reset Password
      </button>
      {% else %}
      <a href="{% url 'inv_manage-index' %}" class="btn btn-outline-info">Exit</a>
      {% endif %}
    </div>
  </form>
</div>

{% endblock %}