<!--------------------------------------------------------------------------------
    This page provides deatails into specific inventories that the user has access
    to. It displays the information from the inventory itself, as well as a list
    of links to the detail pages for the items associated to the inventory.
---------------------------------------------------------------------------------->
{% extends 'inv_manage/layout.html' %} {% block content %}
<ul class="collection">
  <article class="media content-section">
    <img class="rounded-circle article-img profile-pic" src="{{ inv.author.profile.image.url }}" />
    <div class="media-body">
      <div class="article-metadata">
        <span class="mr-2">{{ inv.author }}</span>
        <small class="text-muted">{{ inv.date_created }}</small>

      </div>
      <h2 class="article-title">{{ inv.name }}</h2>

      <h4 class="article-title">Inventory Items ({{ inv.inv_size }})</h4>
      <ul class="list-group m-3">
        {% for item in item_list %}
        <li class="list-group-item">
          <img class="rounded-circle article-img" style="width: 40px; height: 40px;" src="{{ item.picture.url }}" />
          <a href="{% url 'inv_manage-item-detail' item.pk %}">{{ item.name }}</a>
          <small class="float-right mt-2 text-muted"> {{ item.quantity }}</small>
          <small id="detail-quantity" class="float-right mt-2 text-muted">quantity: </small>
        </li>
        {% endfor %}
      </ul>
      {% if can_edit %}
      <a class="btn btn-sm btn-outline-success mb-4" href="{% url 'inv_manage-create-item' inv.id %}">Add Item</a>
      <a class="btn btn-sm btn-outline-info mb-4" href="{% url 'inv_manage-add-user' inv.id %}">Share</a>
      {% endif %}
      {% if inv.author == user %}
      <a class="btn btn-outline-info btn-sm mb-4" href="{% url 'inv_manage-update' inv.id %}">update</a>
      <a class="btn btn-outline-danger btn-sm mb-4" href="{% url 'inv_manage-delete' inv.id %}">delete</a>
      {% endif %}

    </div>
  </article>
</ul>
{% endblock %}