<!--------------------------------------------------------------------------------
    This page provides details about individual items within inventories.
---------------------------------------------------------------------------------->
{% extends 'inv_manage/layout.html' %} {% block content %}

<ul class="collection">
  <article class="media content-section">
    <img class="rounded-circle article-img" src="{{ item.picture.url }}" />
    <div class="media-body">
      <h2 class="article-title">{{ item.name }}</h2>
      <p class="text-muted lead">{{ item.description }}</p>
      <small>Quantity: {{ item.quantity }}</small>
    </div>
  </article>
</ul>
{% endblock %}