<!--------------------------------------------------------------------------------
    This is the main HTML template that all other pages extend. It contains
    information common to all pages on the site, including the head of the page,
    the main navigation bar, and the container divs universal to all pages.
---------------------------------------------------------------------------------->
<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  <!--Bootstrap CSS-->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />

  <!--Main CSS styles-->
  <link rel="stylesheet" type="text/css" href="{% static 'inv_manage/style.css' %}" />

  <!-- allows for unique titles for specific pages -->
  {% if title %}
  <title>Backpack - {{ title }}</title>
  {% else %}
  <title>Backpack</title>
  {% endif %}
</head>

<body>
  <!-- Main header and navigation across the website. -->
  <header class="site-header">
    <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
      <div class="container">
        <a class="navbar-brand mr-4" href="/">Backpack</a>
        <!-- Responsive button to access navigation options on smaller viewports. -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle"
          aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarToggle">
          <div class="navbar-nav mr-auto">
            <a class="nav-item nav-link" href="/">Home</a>
            {% if user.is_authenticated %}
            <a class="nav-item nav-link" href="{% url 'inv_manage-shared' %}">Shared</a>
            {% endif %}
            <a class="nav-item nav-link" href="{% url 'inv_manage-about' %}">About</a>
          </div>
          <!-- Navbar Right Side -->
          <div class="navbar-nav">
            {% if user.is_authenticated %}
            <a class="nav-item nav-link" href="{% url 'inv_manage-create' %}">New Inventory</a>
            <a class="nav-item nav-link" href="{% url 'profile' %}">Profile</a>
            <a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>
            {% else %}
            <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
            <a class="nav-item nav-link" href="{% url 'register' %}">Register</a>
            {% endif %}
          </div>
        </div>
      </div>
    </nav>
  </header>

  <div class="container">
    <div>
      <main role="main" class="container">
        <div class="row">
          <!-- Responsive container for main content (See Bootstrap 12-column grid format) -->
          <div class="col-md-8">
            <!-- Handles any messages if present -->
            {% if messages %} {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
              {{ message }}
            </div>
            {% endfor %} {% endif %} {% block content %}{% endblock %}
            <br>
            <br>
          </div>
        </div>
      </main>
    </div>
  </div>

  <footer class="fixed-bottom">
    <div class="text-center">
      <small class="text-muted">&copy; Alex Derouchie 2020 <a href="https://backpack-inv.herokuapp.com/">Secure
          Site</a></small>
    </div>
  </footer>

  <!-- JavaScript Links -->
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
</body>

</html>