<!--------------------------------------------------------------------------------
    This page displays a list of previews to inventories that have been shared 
    with the current user.
---------------------------------------------------------------------------------->
{% extends 'inv_manage/layout.html' %} {% block content %}
<ul class="collection">
    <h2 class="center-align">Shared Inventories</h3>
        {% for share in shared %}
        <article class="media content-section">
            <img class="rounded-circle article-img" src="{{ share.inventory.author.profile.image.url }}">
            <div class="media-body">
                <div class="article-metadata">
                    <span class="mr-2">{{ share.inventory.author }}</span>
                    <small class="text-muted">{{ share.inventory.date_created }}</small>
                </div>
                <h2><a class="article-title"
                        href="{% url 'inv_manage-detail' share.inventory.id %}">{{ share.inventory.name }}</a></h2>
                <small class="text-muted">Inventory Size: {{ share.inventory.inv_size }}</small>
            </div>
        </article>
        {% endfor %}
</ul>

{% endblock %}